#mainNavi {
    position: sticky;
    top: 0;

    /* Disable Text Selection */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}

#mainNavi li {
    float: left;
    text-decoration: none;
}

#ulNavi li a {
	border-bottom: none;
    color: white;
    text-decoration: none;
}

#mainNavi li a:hover {
    color: #0a0a0a;
    transition-duration: 0.3s;
}

#ulNavi {
	border-bottom: 5px solid #ff9f50;
	max-width: 1024px;
	min-width: 480px;
    display: flex;
	list-style-type: none;
	margin: 30px auto 30px auto;
	background-color: #212121;
	padding: 0;
}

.title {
    background-color: #212121;
    font-weight: bold;
    font-size: 21px;
    display: block;
    color: #ff9f50;
	text-align: center;
	padding: 9px 36px 9px 36px;
}

.item {
    display: block;
    color: white;
	text-align: center;
	padding: 12px 18px 12px 18px;
}

.item:hover {
    background-color: #ff9f50;
}

#mainNavi ul li:hover > ul,
#mainNavi ul li:focus-within > ul,
#mainNavi ul li ul:hover {
	visibility: visible;
	opacity: 1;
	display: block;
}